@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  @apply rounded-2xl;
  background: rgba(255, 255, 255, 0.63);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.4px);
  -webkit-backdrop-filter: blur(11.4px);
  border: 1px solid rgba(255, 255, 255, 0.61);
}
